{% extends "partials/layouts/main.html" %}
{% load static %}

{% include "partials/main.html" %}
{% block meta %}
{% with title="Vector Maps" %}
{% include "partials/title-meta.html" %}
{% endwith %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/assets/libs/jsvectormap/jsvectormap.min.css">
{% endblock %}
{% endblock %}
{% block content %}
{% with title_sub="Maps" title="Vector Maps"%}
{% include "partials/pagetitle.html" %}
{% endwith %}


<!--begin::App-->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">World Map Markers</h5>
                        </div>
                        <div class="card-body">
                            <div id="world-map" class="min-h-320px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">World Map With Marker Lines</h5>
                        </div>
                        <div class="card-body">
                            <div id="world-map-markers-line" class="min-h-320px"></div>
                        </div>
                    </div>
                </div>
            </div><!--End row-->
        </div><!--End container-fluid-->
    </main><!--End app-wrapper-->
    {% endblock content %}
    {% block js %}
    <!-- Vector map-->
    <script src="/static/assets/libs/jsvectormap/jsvectormap.min.js"></script>
    <script src="/static/assets/libs/jsvectormap/maps/world.js"></script>

    <!-- vector-maps init -->
    <script src="/static/assets/js/map/vector-maps.init.js"></script>

    <script src="/static/assets/js/app.js"></script>
    {% endblock js %}